/* 1. Селектор потомков */
.container p {
    color: red; /* Все абзацы внутри контейнера будут зелеными */
    font-size: 20px;
    background-color: black;
}

/* 2. Селектор прямых потомков */
.container > p {
    background-color: blue; /* Только прямые абзацы внутри контейнера будут жирным  */
}

/* Селектор соседей - абзац сразу после заголовка h1 будет напечатан курсивом */
h1 + p {
    font-style: italic;
}

/* Селектор всех соседей */
.container h2 ~ p {
    background-color: yellow; /* Все абзацы после h2, будут черными  */
}